
// Colores para el proyecto
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #FEF46D;
$mora: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

//Fuentes:
$fuentePrincipal: "Montserrat", sans-serif;

//Media Queries
$phone: 480px;
$tablet: 768px;
$pc: 992px;
$pcXL: 1200px;